body{
    background-color: rgb(76, 110, 112);
    padding: 5px;
}

.quote{
    text-decoration: wavy;
    text-align: center;
    color: antiquewhite;
    font-size: x-large;
}

/* Sticky Footer */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: black;
    }

footer {
    text-align: center; 
    background-color: black;  
}

.name{
    float: left;
    font-size: xx-large;
    color: antiquewhite;
}

.links{
    float: right;
    font-size: xx-large;    
}

.format{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;  
}

.forminput {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

#submit {
    margin-top: 1rem;
    padding: .5rem 3rem;
    width: 30%;
    align-self: center; 
    background-color: skyblue;   
}